.section3main{
    text-align: -webkit-center;
}

.s3header{
    font-family: 'Josefin Sans';
    font-size: 42px;
    color: #151875;
    text-align: center;
    font-weight: bold;
}

.s3grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    justify-items: center;
    width: 65%;
}

.s3card{
    box-shadow: 0px 8px 40px rgba(49, 32, 138, 0.05);
    display: grid;
    grid-template-rows: 1fr 2fr;
    justify-items: center;
    padding: 20px;
    height: 90%;
}

.s3grid1{
    padding-top: 20px;
}

.grp{
    padding-top: 20px;
}

.grp1{
    padding-top: 20px;
    width: 76%;
}

.s3txt1{
    font-family: 'Josefin Sans';
    font-size: 18px;
    font-weight: 700;
    color: #151875;
}
.s3txt2{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    color: rgba(26, 11, 91, 0.3);
    margin-top: 11px;
}


@media (min-width: 768px) and (max-width: 1200px) {
    .s3grid{
        grid-template-columns: 1fr 1fr;
        row-gap: 20px;
        width: 70%;
    }
    .s3txt2{
        font-size: 18px;
        text-align: center;
        margin-top: 13px;
    }
    .s3card{
        padding: 20px;
        height: 100%;
    }
    .grp, .grp1{
        padding-top: 10px;
    }
}

@media (min-width: 350px) and (max-width: 767px) {
    .s3grid{
        grid-template-columns: 1fr;
        row-gap: 20px;
        width: 70%;
    }
    .s3txt2{
        font-size: 18px;
        text-align: center;
        margin-top: 13px;
    }
    .s3card{
        padding: 20px;
        height: 100%;
    }
    .grp, .grp1{
        padding-top: 10px;
    }
    .s3header{
        font-size: 35px;
    }
}