.section1main{
    text-align: -webkit-center;
}

.fpheading{
    font-family: 'Josefin Sans';
    font-size: 42px;
    font-weight: bold;
    color: #1A0B5B;
    margin-top: 20px;
}

.featured{
    margin: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    justify-items: center;
    width: 70%;
}

.fproducts{
    display: grid;
    grid-template-rows: 2fr 1fr;
    box-shadow: 0px 8px 40px rgba(49, 32, 138, 0.05);
    justify-items: center;
    width: 100%;
}

.fsofas{
    width: 100%;
    padding-top: 20px;
    background-color: #F6F7FB;
    display: grid;
    grid-template-rows: 1fr;
}


.featuredimg1{
    margin-top: 20px;
}
.featuredimg2{
    margin-top: 20px;
}
.featuredimg3{
    margin-top: 20px;
}
.featuredimg4{
    margin-top: 20px;
}

.fp1{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #FB2E86;
    margin-top: 11px;
}
.fp2{
    font-family: 'Josefin Sans';
    font-size: 14px;
    color: #151875;
    margin-top: 10px;
}
.fp3{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #151875;
    margin-top: 10px;
}

.fphover1, .fphover2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 50%;
    margin-left: 15px;
    opacity: 0;
}


.fpsearch{
    margin-top: 12px;
}
.fpheart{
    margin-top: 11px;
    margin-left: 7px;
}

.fproducts button{
    background-color: #08D15F;
    padding: 0;
    padding-top: 5px;
    font-size: 10px;
    width: 25%;
    margin-bottom: 15px;
    opacity: 0;
}

.fproducts:hover .fphover1, .fproducts:hover .fphover2, 
.fproducts:hover .fsofas button {
    opacity: 2;
}

.fproducts:hover{
    background-color: #2F1AC4;
}

.fproducts:hover .fp1, .fproducts:hover .fp2, .fproducts:hover .fp3{
    color: white;
}

.fpslider_icon{
    margin-top: 10px;
}


@media (min-width: 768px) and (max-width: 1200px) {
    .featured{
        grid-template-columns: 1fr 1fr;
        row-gap: 20px;
        width: 80%;
    }
    .fproducts {
        margin-bottom: 20px;
        width: 80%;
    }

}

@media (min-width: 350px) and (max-width: 767px) {
    .featured{
        grid-template-columns: 1fr;
        row-gap: 20px;
        width: 80%;
    }
    .featuredimg1, .featuredimg2, .featuredimg3, .featuredimg4 {
        width: 60%;
    }
    .fproducts {
        margin-bottom: 20px;
        width: 70%;
    }
    .fpheading{
        font-size: 38px;
    }
}