.section2main{
    text-align: -webkit-center;
    padding: 20px;
}

.lpheading{
    font-family: 'Josefin Sans';
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    color: #1A0B5B;

}
.leatest{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    justify-items: center;
    width: 68%;
}
.lpsofa{
    background-color: #F7F7F7;
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: left;
}
.lproducts1, .lproducts2{
    display: grid;
    grid-template-rows: 1fr;
    margin-bottom: 15px;
}
.lhover{
    display: grid;
    grid-template-rows: 1fr;
    justify-items: left;
    opacity: 0;
}
.lphovergrid1{
    padding: 10px;
}
.lphovergrid2{
    padding: 13px;
}
.sale{
    width: 80px;
}
.lsearch{
    margin-top: 15px;
}
.lheart{
    margin-top: 11px;
}
.leatestimg1{
    width: 70%;
    margin-top: 15px;
}
.leatestimg2{
    width: 30%;
    margin-top: 20px;
}
.leatestimg3{
    width: 90%;
    margin-top: 20px;
}
.leatestimg4{
    width: 55%;
    margin-top: 14px;
}
.leatestimg5{
    width: 85%;
    margin-top: 7px;
}
.leatestimg6{
    margin-top: 25px;
    
}
.lpsofaimg1{
    position: absolute;
    margin-left: 15px;
    margin-top: 15px;
    justify-self: center;
}

.lpsofaimg2{
    position: absolute;
    margin-top: 15px;
    justify-self: center;
    margin-left: 25px;
}

.lprodesc{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
}
.lproname{
    text-align: left;
}
.lpro_offr{
    text-align: end;
}
.lpro_orgprice{
    text-align: end;
}


.leatest_nav ul{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}


a:hover {
    color: #FB2E86;
    text-decoration: underline;
}

.lpro_name{
    color: #151875;
    font-family: 'Josefin Sans';
    font-size: 14px;
    border-bottom: 1px solid #c6c8e4
}
.lpro_offprice{
    color: #151875;
    font-family: 'Josefin Sans';
    font-size: 14px;
}
.lpro_price{
    color: #FB2448;   
    font-family: 'Josefin Sans';
    font-size: 12px;
    text-decoration-line: line-through;
}




.lproducts1:hover  .lhover{
    opacity: 2;
}

.lproducts2:hover  .lhover{
    opacity: 2;
}

@media (min-width: 768px) and (max-width: 1300px) {
    .leatest{
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        width: 80%;
    }
}

@media (min-width: 350px) and (max-width: 767px) {
    .leatest{
        grid-template-columns: 1fr;
        width: 80%;
    }
}