.section4main{
    background-color: #F1F0FF;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
}

.s4img{
    justify-self: end;
}
.s4sofa{
    margin-top: 15px;
}



.s4head{
    font-family: 'Josefin Sans';
    font-size: 35px;
    font-weight: 600;
    color: #151875;
    margin-bottom: 15px;
    margin-top: 25px;
}

.s4list{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #ACABC3;
    margin-bottom: 12px;
    text-align: left;
}

.bullet1, .bullet2, .bullet3{
    float: left;
    margin-top: 8px;
    margin-right: 10px;
}

.s4griddesc{
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-left: 20px;
    padding: 20px;
    margin-top: 25px;
}

.S4btngrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 25px;
    width: 50%;
}



.s4item{
    font-family: 'Josefin Sans';
    font-size: 14px;
    line-height: 16px;
    color: #151875;
    margin-top: 10px;
}

.s4price{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #151875;
}

@media (min-width: 1000px) and (max-width: 1500px) {
    .S4btngrid{
        width: 65%;
        column-gap: 10px;
    }
}

@media (min-width: 768px) and (max-width: 1000px) {
    .section4main{
        grid-template-columns: 1fr;
        row-gap: 20px;
        justify-items: center;
    }
    .s4img {
        justify-self: center;
    }
    .s4griddesc{
        text-align: center;
        justify-items: center;
    }
    .s4btn button{
        width: 100%;
    }
}

@media (min-width: 350px) and (max-width: 768px) {
    .section4main{
        grid-template-columns: 1fr;
        row-gap: 20px;
        justify-items: center;
    }
    .s4img {
        margin-left: 25px;
    }
    .s4griddesc{
        margin-top: 0px;
        text-align: center;
        justify-items: center;
    }
    .s4btn button{
        width: 100%;
        padding-top: 7px;
    }
    .S4btngrid{
        grid-template-columns: 1fr;
        height: 30%;
    }
    .s4sofa {
        margin-left: 25px;
        width: 65%;
    }
    .s4head{
        font-size: 30px;
    }
}