.section8main{
    text-align: -webkit-center;
}


.s8head{
    font-family: 'Josefin Sans';
    font-size: 42px;
    color: #151885;
    text-align: center;
    font-weight: bold;
}

.s8grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    justify-items: center;
    width: 70%;
}

.s8descicon{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.s8img1, .s8img2, .s8img3{
    border-radius: 6px;
}

.s8txt1, .s8txt2, .s8item2txt1{
    font-family: 'Josefin Sans';
    font-size: 14px;
    color: #151875;
}


.s8txt1{
    margin-top: 8px;
    margin-left: 10px;
}

.s8txt2{
    margin-left: 10px;
}



.s8item2txt1{
    margin-top: 8px;
}


.S8itemsgrid .Blogicon1{
    margin-top: 8px;
}

.S8itemsgrid .Blogicon2{
    margin-top: 6px;
}


.s8desc{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
}

.s8desc p{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: #72718F;
    margin-bottom: 12px;
    margin-top: 10px;
}

.s8desc h3{
    font-family: 'Josefin Sans';
    font-size: 15px;
    font-weight: 600;
    margin-top: 15px;
    color: #151875;
}

.s8desc a{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    text-decoration-line: underline;
    color: #151875;   
}

.S8itemsgrid{
    background: #FFFFFF;
    box-shadow: 0px 8px 40px rgba(49, 32, 138, 0.05);
    border-radius: 5px;
}

.S8itemsgrid:hover .s8desc h3, .S8itemsgrid:hover .s8desc a{
    color: #FB2E86;
}


@media (min-width: 768px) and (max-width: 1200px) {
    .s8grid{
        grid-template-columns: 1fr;
        row-gap: 25px;
    }
    .s8img1, .s8img2, .s8img3 {
        width: 100%;
    }
    .s8grid{
        padding-left: 25px;
        padding-right: 25px;
    }
    .S8itemsgrid{
        width: 70%;
    }
}

@media (min-width: 350px) and (max-width: 767px) {
    .s8grid{
        grid-template-columns: 1fr;
        row-gap: 25px;
    }
    .s8descicon{
        grid-template-columns: 1fr;
    }
    .s8img1, .s8img2, .s8img3 {
        width: 100%;
    }
    .s8grid{
        padding-left: 25px;
        padding-right: 25px;
    }
    .s8desc h3{
        font-size: 12px;
    }
    .s8desc p{
        font-size: 11px;
        margin-top: 10px;
    }
}

