.section6main{
    text-align: -webkit-center;
}

.s6head{
    font-family: 'Josefin Sans';
    font-size: 42px;
    color: #151875;
    text-align: center;
    font-weight: bold;
}

.s6_nav{
    text-align: center;
}

.s6_nav ul{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

s6_nav * {
    display: inline;
}
s6_nav ul {
}
s6_nav li {
    margin: 2%;
}
s6_nav li a {
    color: #151875;
    text-decoration: none;
}

.s6grid
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    width: 80%;
}

.s6sofa{
    width: 85%;
}

.s6img{

}

.s6desc{
        text-align: left;
    padding-left: 20px;
    margin-left: 20px;
    padding-top: 25px;
    margin-top: 25px;

}
.s6txt1
{
    font-family: 'Josefin Sans';
    font-size: 27px;
    font-weight: 600;
    letter-spacing: 0.015em;
    color: #151875;
}
.s6txt2
{
    font-family: 'Josefin Sans';
    font-size: 18px;
    letter-spacing: 0.015em;
    color: #FB2E86;
    margin-top: 10px;
}
.s6txt3
{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #B7BACB;
    margin-top: 15px;
    margin-bottom: 20px;
}
.s6list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70%;
    row-gap: 8px;
    margin-bottom: 20px;
}


.s6tick1, .s6tick2, .s6tick3, .s6tick4{
    width: 5%;
    margin-right: 10px;
}
.s6tick1{
    float: left;
    margin-top: 6px;
}
.s6tick2{
    float: left;
    margin-top: 6px;
}
.s6tick3{
    float: left;
    margin-top: 6px;
}

.s6tick4{
    float: left;
    margin-top: 6px;
}

.s6list1, .s6list2, .s6list3, .s6list4{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.02em;
    color: #B8B8DC;
}
.s6list1{
}
.s6list2{
}
.s6list3{
}
.s6list4{
}
.s6button{
}


@media (min-width: 1170px) and (max-width: 1370px) {
    .s6list{
        width: 90%;
    }
}


@media (min-width: 768px) and (max-width: 1170px) {
    .s6grid{
        grid-template-columns: 1fr;
    }
    .s6desc{
        text-align: -webkit-center;
        justify-self: center;
    }
}

@media (min-width: 350px) and (max-width: 767px) {
    .s6grid{
        grid-template-columns: 1fr;
    }
    .s6desc{
        text-align: -webkit-center;
        justify-self: center;
        padding-left: 0;
        margin-left: 0;
        padding-top: 0;
        margin-top: 0;
    }
    .s6list{
        grid-template-columns: 1fr;
    }
    .s6tick1, .s6tick2, .s6tick3, .s6tick4 {
        display: none;
    }
}