.section7main{
    text-align: -webkit-center;
}

.s7head{
    font-family: 'Josefin Sans';
    font-size: 42px;
    color: #151875;
    text-align: center;
    font-weight: bold;
}

.s7grid{
    display: grid;
    grid-template-columns: repeat(4,auto);
    margin-top: 15px;
    width: 70%;
}

.s7img1, .s7img2, .s7img3, .s7img4{
    width: 65%;
    margin-top: 25px;
}

.topgrid{
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
}

.s7imgdiv{
    background-color: #F6F7FB;
    border-radius: 50%;
    width: 90%;
}

.s7imgdiv:hover {
    border-left: 5px solid rgb(93, 50, 222);;
    border-bottom: 10px solid rgb(93, 50, 222);
}

.s7imgdiv:hover  button{
    opacity: 2;
}

.S7titlediv{
    padding-top: 15px;
}

.s7imgdiv button{
    background-color: #08D15F;
    padding: 0;
    padding-top: 5px;
    font-size: 10px;
    width: 25%;
    margin-bottom: 25px;
    opacity: 0;
}


.toptxt1{
    font-family: 'Josefin Sans';
    font-size: 20px;
    color: #151875;
}

.toptxt2{
    font-family: 'Josefin Sans';
    font-size: 20px;
    color: #151875;
}


@media (min-width: 768px) and (max-width: 1200px) {
    .s7grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 350px) and (max-width: 767px) {
    .s7grid{
        grid-template-columns: 1fr;
    }
}