.AboutSection1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70%;
    text-align: left;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

#parent{
    position: relative;
}

.Aboutimg1{
    width: 83%;
    position: absolute;
}
.Aboutimg2{
    width: 84%;
    position: absolute;
    left: 15px;
}
.Abouthead{
    font-family: 'Josefin Sans';
    font-size: 36px;
    font-weight: 600;
    color: #151875;
    width: 85%;
    margin-top: 15px;
}
.Abouttxt{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #8A8FB9;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
}
.Aboutbtn{
    padding-top: 20px;
}

.AboutSection2{
    padding-top: 20px;
}

.Abouthead2{
    font-family: 'Josefin Sans';
    font-size: 42px;
    font-weight: 600;
    text-align: center;
    color: #000000;
    margin-top: 20px;
    padding-top: 20px;
}
.AboutSection2 .s3grid{
    width: 64%;
    column-gap: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.Aboutcard{
    border-bottom: 3px solid #FF9100;
}

.AboutSection2 .s3txt2{
    width: 78%;
    margin-top: 15px;
}

.AboutSection3{
    background-color: #FBFBFF;
    padding: 25px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.AboutS3img1{
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (min-width: 768px) and (max-width: 1200px) {
    .Abouthead{
        font-size: 18px;
        margin-top: 7px;
    }
    .Abouttxt{
        font-size: 10px;
        padding-top: 0;
        margin-bottom: 0;
    }
    .Aboutbtn button{
        width: 55%;
    }
    .AboutSection2 .s3card {
        padding: 13px;
        height: 90%;
        width: 100%;
    }
    .AboutSection2 .s3flex2{
        padding-bottom: 20px;
    }
}

@media (min-width: 350px) and (max-width: 767px) {
    .AboutSection1{
        grid-template-columns: 1fr;
    }
    .Abouthead{
        font-size: 18px;
        margin-top: 7px;
    }
    .Abouttxt{
        font-size: 10px;
        padding-top: 0;
        margin-bottom: 0;
    }
    .Aboutbtn{
        margin-bottom: 25px;
        padding-bottom: 25px;
    }
    .Abouthead2{
        font-size: 35px;
    }
    .Aboutbtn button{
        width: 60%;
        padding-top: 10px;
        height: 40px;
    }
    .AboutSection2 .s3card {
        padding: 13px;
        height: 90%;
        width: 100%;
    }
    .AboutSection2 .s3flex2{
        padding-bottom: 20px;
    }
    .Aboutdesc{
        text-align: center;
        position: relative;
        top: 180px;
        margin-bottom: 25px;
        padding-bottom: 25px;
    }
}