.Blog{
    text-align: -webkit-center;  
}

.blogmain{
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 80%;
}

.blogmaingrid1{
    display: grid;
    grid-template-rows: auto;
    width: 95%;
} 

.Bgrid1pages {
    justify-self: center;
}


.Blogicon1{
    float: left;
    margin-top: 20px;
}
.Blogicon2{    
    float: left;
    margin-top: 19px;
    margin-left: 20px;
}

.Bgrid1desc{
    display: inline;
}

.Blogitemtxt1{
    font-family: 'Josefin Sans';
    font-size: 14px;
    color: #151875;
    background-color:#FFE7F9;
    border-radius: 2px;
    height: 21px;
    padding: 1px;
    margin-top: 16px;
    margin-left: 6px;
    margin-right: 20px;
    float: left;
    width: 20%;
}
.Blogitemtxt2{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #151875;
    background-color: #FFECE2;
    border-radius: 2px;
    height: 20px;
    margin-top: 16px;
    width: 20%;
    float: left;
    margin-left: 10px;
}
 
.Bloghead{
    font-family: 'Josefin Sans';
    font-size: 30px;
    font-weight: 600;
    color: #151875;
    text-align: left;
}
.Blogpara{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #8A8FB9;    
    margin-top: 20px;
    text-align: justify;
}
.Bgrid1desc a{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #151875;
    float: left;
    margin-top: 12px;
    margin-bottom: 12px;
}


.Pageicon1{
    float: left;
    margin-right: 20px;
}
.Pageicon2{
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}
.Pageicon3{
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}

.Pageicon4{
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}


.blogmaingrid2{
    display: grid;
    grid-template-rows: auto;
    row-gap: 10px;
    justify-items: left;
    text-align: left;
    width: 100%;
    height: fit-content;
}

.Blog_head{
    font-family: 'Josefin Sans';
    font-size: 22px;
    font-weight: 600;
    color: #151875;
    margin-bottom: 20px;
}

.Bgrid2item1{
    margin-bottom: 20px;
}

.Bcat1{
    font-family: 'Josefin Sans';
    font-size: 16px;
    color: #FFFFFF;
    background-color: #F939BF;
    border-radius: 3px;
    height: 34px;
    padding: 9px;
    padding-left: 10px;
    margin-top: 20px;
    margin-right: 20px;

} 
.Bcat2, .Bcat3, .Bcat4, .Bcat5, .Bcat6{
    font-family: 'Josefin Sans';
    font-size: 16px;
    color: #3F509E;
    font-weight: bold;
}
.Bcat2{
    margin-left: 8px;
}
.Bcat3{
    margin-right: 25px;
    margin-left: 7px;
}
.Bcat4{
    margin-left: 20px;
}
.Bcat5{
    margin-right: 25px;
    margin-left: 7px;
}
.Bcat6{
    margin-left: 20px;
}

/* .Bgrid2item1{
    height: 85%;
} */

.Bgrid2_subgrid{
    display: grid;
    grid-template-rows: auto;
    padding-top: 15px;

}
.Bsubgrid_items{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 19px;
}



.Bsubgrid_txt1{
    font-family: 'Josefin Sans';
    font-size: 14px;
    font-weight: bold;
    color: #3F509E;
}
.Bsubgrid_txt2{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    color: #8A8FB9;
    margin-top: 2px;
}

.Boffproductgrid{
    display: grid;
    grid-template-rows: auto;
}

.BOffgriditem{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

/* .Bgrid2item5{

} */

.Offitemname{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: #151875;
    margin-top: 10px;
}

.Offitemprice{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    color: #8A8FB9;
    margin-top: 4px;
    margin-bottom: 25px;
}

.BOfferproducts{
}


.Bgrid2item5 a{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-decoration-line: underline;
    color: #151875;    
}

.Bfollowimg{
    width: 50%;
    margin-bottom: 20px;
}

.Btag1{
    margin-right: 20px;
}
.Btag2{
    margin-right: 20px;
}   
.Btag4{
    margin-right: 20px;
}

.Bloginput_container{
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #BDBDD8;
    border-radius: 2px;
    height: 36px;
}

.Bgrid2item1 form{
    margin-top: 20px;
}

.Bsearchicon {
    padding: 9px;
    margin-left: 20px;
    color: #CBCBE0;
    text-align: center;
  }
  .Binput_field {
    background-color: #FFFFFF;
    margin-top: 11px;
    padding-left: 7px;
    margin-right: 15px;
    height: 12px;
    outline: none;
  }
 

  @media (min-width: 768px) and (max-width: 1200px) {
        .blogmain{
            grid-template-columns: 1fr;
            row-gap: 20px;
        }
        .blogmaingrid1{
            margin-bottom: 20px;
        }
        .blogmaingrid2 {
            margin-top: 20px;
            justify-content: center;
        }
        .Blog_head {
             text-align: center;
        }
        .Bgrid2item5{
            text-align: center;
            width: -webkit-fill-available;
        }
        .Bfollowimg {
            width: 100%;
        }
        .Blogimg{
            width: 100%;
        }
        .Bgrid2item1{
            text-align: center;
        }
  }
  
  @media (min-width: 350px) and (max-width: 767px) {
    .blogmain{
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
    .blogmaingrid1{
        margin-bottom: 20px;
    }
    .Blogitemtxt1, .Blogitemtxt2{
        float: none;
        margin-left: 0px;
        width: 40%;
    }
    .Blogicon2{
        margin-left: 0px;
    }
    .blogmaingrid2 {
        margin-top: 20px;
        justify-content: center;
    }
    .Blog_head {
         text-align: center;
    }
    .Blogpara{
        text-align: center;
    }
    .Bgrid2item5{
        text-align: center;
        width: -webkit-fill-available;
    }
    .Bfollowimg {
        width: 100%;
    }
    .Blogimg{
        width: 100%;
    }
    .Bloghead{
        font-size: 22px;
        text-align: center;
    }
    .Bgrid2item1{
        text-align: center;
    }
  }
