.FAQdiv{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    width: 75%;
    text-align: left;
}
.FAQgriditem1{

}
.FAQhead{
    font-family: 'Josefin Sans';
    font-size: 36px;
    font-weight: 600;
    color: #1D3178;
    
}
.FAQsubhead{
    font-family: 'Josefin Sans';
    font-size: 17px;
    font-weight: 600;
    color: #1D3178;
    margin-top: 20px;
    padding-top: 20px;
    margin-bottom: 20px;
}
.FAQhead5{
    font-family: 'Josefin Sans';
    font-size: 24px;
    font-weight: 600;
    color: #1D3178;
    padding-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.FAQtxt{
    font-family: 'Josefin Sans';
    font-size: 16px;
    color: #A1ABCC;
    width: 85%;
    margin-top: 10px;
    padding-bottom: 15px;
}
.FAQgriditem2{
    background-color: #F8F8FD;
    padding: 20px;
    width: 80%;
}
.FAQform{
    font-family: 'Lato';
    font-style: normal;
    font-size: 16px;
    color: #8990B1;
    padding-top: 20px;
}
.FAQform input{
    border: 1px solid #CDCEDC;
    border-radius: 5px;
    width: 95%;
    height: 45px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.FAQform textarea{
    border: 1px solid #CDCEDC;
    border-radius: 5px;
    width: 95%;
    margin-top: 20px;
    padding-top: 10px;
}
.FAQbtn{
    margin-top: 15px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

@media (min-width: 768px) and (max-width: 1200px) {
    .FAQdiv{
        grid-template-columns: 1fr;
        row-gap: 20px;
        justify-items: center;
        text-align: center;
    }
    .FAQbtn{
        padding-bottom: 0;
    }
    .FAQtxt{
        width: 100%;
    }
    .FAQbtn button{
        width: 70%;
    }
}

@media (min-width: 350px) and (max-width: 767px) {
    .FAQdiv{
        grid-template-columns: 1fr;
        row-gap: 20px;
        justify-items: center;
        text-align: center;
    }
    .FAQbtn{
        padding-bottom: 0;
    }
    .FAQtxt{
        width: 100%;
    }
    .FAQbtn button{
        width: 70%;
    }
    .FAQgriditem2{
        width: 100%;
    }
    .FAQform input {
        margin-top: 10px;
    }
    .FAQform input {
        margin-top: 10px;
    }
}

