.logindiv{
    width: 35%;
    padding: 20px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 25px 10px #F8F8FB;  
}

.loginhead{
    font-family: 'Josefin Sans';
    font-size: 32px;
    font-weight: 600;
    color: #000000;
    text-align: center;
    margin-top: 15px;
}

.logintxt{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    color: #9096B2;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 15px;
}

.logindiv form input{
    background-color: #FFFFFF;
    border: 1px solid #C2C5E1;
    border-radius: 2px;
    margin-top: 20px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    padding-left: 15px;
    width: 80%;
    height: 45px;
    margin-bottom: 5px;
}

.forgetpwd{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    color: #9096B2;
    margin-left: 14px;
}

.forgetpwddiv{
    text-align: left;
    margin-left: 20px;
    padding-left: 20px;
}

.pwd{
    margin-bottom: 7px;
}

.signup{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    color: #9096B2;
    margin-left: 5px;
}

.logintxt2{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    color: #9096B2;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 20px;
}

.loginbtn button{
    width: 80%;
    height: 40px;
    padding-top: 9px;
    margin-top: 20px;
}

.error{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: red;
    text-align: left;
    margin-left: 23px;
    padding-left: 23px;
}

@media (min-width: 768px) and (max-width: 1200px) {
    .logindiv{
        width: 60%;
    }
}

@media (min-width: 350px) and (max-width: 767px) {
    .logindiv{
        width: 75%;
    }
    .logintxt{
        font-size: 14px;
    }
    .logindiv form input{
        width: 100%;
        height: 40px;
        margin-bottom: 0px;
    }
    .forgetpwddiv {
        margin-top: 10px;
        text-align: left;
        margin-left: 0px;
        padding-left: 0px;
    }
    .logintxt2{
        font-size: 13px;
    }
}

