.clockimg{
}
.vrline{
    border-left: 1px dashed red;
}
.checklistimg{
}
.v1img{
}
.v2img{
}
.v3img{
}
.hrline{
    border-top: 1px dashed red;
    width: 52%;
}

.OChead{
    font-family: 'Josefin Sans';
    font-size: 36px;
    text-align: center;
    font-weight: 600;
    color: #101750;
}
.OCtxt{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #8D92A7;
}
.OCbtn{
    margin-left: 43.5%;
}

