.PNFmain{
    margin-left: 296px;
}
.PNFimg{

}
.PNFtxt{
    font-family: 'Josefin Sans';
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
    color: #152970;
    margin-left: 260px;
    margin-top: -102px;
}
.PNFbtn{
    margin-left: 31%;
    margin-top: 58px;
}
