.ShopLeft{
    text-align: -webkit-center;
}

.Sleft_div{
    display: grid;
    grid-template-columns: auto 2fr;
    width: 80%;
    margin-left: 20px;
    padding-left: 20px;
}

.Sleft_filtergrid{
    display: grid;
    grid-template-rows: repeat(6, auto);
    justify-items: left;
}

.SLeft_gridItems{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px 5px rgba(248, 246, 253, 0.75);
    text-align: left;
    margin-bottom: 20px;
}

.SLeft_descgrid{
    margin-top: 20px;
}

.SLeft_descgrid .SLtxt3{
    font-size: 14.6696px;
    margin-top: 11px;
    line-height: 23px;
}

.SLeft_gridItems span{
    text-decoration: line-through;
}

.Sleft_brand{
}
.Sleft_discount{
    height: 0px;
}
.Sleft_rating{
    margin-left: 20px;
    padding-left: 7px;
}
.Sleft_categories{
}
.Sleft_price{
    height: 1px;
}


.filter_head{
    font-family: 'Josefin Sans';
    font-size: 20px;
    font-weight: 600;
    color: #292C58;
    margin-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-color: #292C58;
    border-bottom-width: 2.1px;
    width: fit-content;
}

/* .Sleft_brand{
    margin-left: 10px;
} */
.checkbox{
    float: left;
    margin-top: 7px;
    margin-right: 10px;
}

.checkbox_container{
    display: flex;
    align-items: center;
}

.checkbox_container label{
    cursor: pointer;
    display: flex;
}

.checkbox_container input[type='checkbox'] {
    cursor: pointer;
    opacity: 0;
}

.checkbox_container label::before{
    margin-right: 0.5em;
    margin-top: 10px;
    content: '';
    font-size: 12px;
    width: 1.2em;
    height: 1.2em;
    border-radius: 0.18em;
}

.checkbox_container input[type='checkbox']:checked + label::before{
    content: '\002714';
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Sleft_brand .checkbox_container label::before{
    border: 0.05em solid #cdc3fb;
}

.Sleft_brand .checkbox_container label:hover::before{
    background-color: #E5E0FC;
}

.Sleft_brand .checkbox_container input[type='checkbox']:checked + label::before{
    color: #603EFF;
    background-color: #c9d4f9;
}

.Sleft_brand .checkbox_container input[type='checkbox']:focus + label::before{
    color: white;
    background-color: #603EFF;
}

.Sleft_brand .checkbox_container label::before{
    border: 0.05em solid #cdc3fb;
}

.Sleft_brand .checkbox_container label:hover::before{
    background-color: #E5E0FC;
}

.Sleft_brand .checkbox_container input[type='checkbox']:checked + label::before{
    color: #603EFF;
    background-color: #cdc3fb;
}

.Sleft_brand .checkbox_container input[type='checkbox']:focus + label::before{
    color: white;
    background-color: #603EFF;
}


.Sleft_discount .checkbox_container label::before,
 .Sleft_categories .checkbox_container label::before,
 .Sleft_price .checkbox_container label::before{
    border: 0.05em solid #f2b1d9;
}

.Sleft_discount .checkbox_container label:hover::before,
 .Sleft_categories .checkbox_container label:hover::before,
 .Sleft_price .checkbox_container label:hover::before{
    background-color: #FFDBF1;
}

.Sleft_discount .checkbox_container input[type='checkbox']:checked + label::before,
 .Sleft_categories .checkbox_container input[type='checkbox']:checked + label::before,
 .Sleft_price .checkbox_container input[type='checkbox']:checked + label::before{
    color: #FF3EB2;
    background-color: #FFDBF1;
}

.Sleft_discount .checkbox_container input[type='checkbox']:focus + label::before, 
.Sleft_categories .checkbox_container input[type='checkbox']:focus + label::before,
.Sleft_price .checkbox_container input[type='checkbox']:focus + label::before{
    color: white;
    background-color: #FF3EB2;
}


.Sleft_rating .checkbox_container input[type='checkbox'] {
    opacity: 1;
}
/* .Sleft_rating .checkbox_container label:hover::before{
    background-color: #E5E0FC;
}

.Sleft_rating .checkbox_container input[type='checkbox']:checked + label::before{
    color: #603EFF;
    background-color: #c9d4f9;
}

.Sleft_rating .checkbox_container input[type='checkbox']:focus + label::before{
    color: white;
    background-color: #603EFF;
}

.Sleft_rating .checkbox_container label::before{
    border: 0.05em solid #cdc3fb;
}

.Sleft_rating .checkbox_container label:hover::before{
    background-color: #E5E0FC;
}

.Sleft_rating .checkbox_container input[type='checkbox']:checked + label::before{
    color: #603EFF;
    background-color: #cdc3fb;
}

.Sleft_rating .checkbox_container input[type='checkbox']:focus + label::before{
    color: white;
    background-color: #603EFF;
}
 */

/* .Sleft_rating .checkbox_container label::before{
    border: 0.05em solid #FFF6DA;
}

.Sleft_rating .checkbox_container label:hover::before{
    background-color: #FFF6DA;
}

.Sleft_rating .checkbox_container input[type='checkbox']:checked + label::before{
    color: #FFCC2E;
    background-color: #FFF6DA;
}

.Sleft_rating .checkbox_container input[type='checkbox']:focus + label::before{
    color: white;
    background-color: #FFCC2E;
} */



.filter_list{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #7E81A2;
}
/* .rating_star{
    float: left;
    margin-top: 9px;
    margin-right: 3px;
}
.rating_list{
    font-family: 'Josefin Sans';
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    color: #000000;
} */

.independent{
}
.Sleft_color{
    width: 100%;
    margin-left: 23px;
}
.colordot1{
    float: left;
    margin-top: 9px;
    width: 6%;
}
.colordot2{
    float: left;
    margin-top: 9px;
    margin-left: 19px;
    margin-right: 3px;
    width: 6%;
}
.colordot3{
   float: left; 
   margin-top: 9px;
   margin-left: 12px;
   margin-right: 3px;
   width: 6%;
}
.colordot4{
    float: left;
    margin-top: 18px;
    margin-right: 3px;
    width: 6%;
}
.colordot5{
    float: left;
    margin-top: 19px;
    margin-right: 3px;
    width: 6%;
}
.colordot6{
   float: left; 
   margin-left: 11px;
   margin-top: 19px;
   margin-right: 3px;
   width: 6%;
}

.color_list1{
    float: left;
    margin-left: 4px;
    margin-top: 4px;
    font-size: 15px;
}
.color_list2{
    float: left;
    margin-top: 4px;
    font-size: 15px;
}
.color_list3{
    margin-top: 15px;
    font-size: 15px;
    text-align: left;
}
.color_list4{
    float: left;
    margin-top: 13px;
    font-size: 15px;
    margin-right: 12px;
}
.color_list5{
    float: left;
    margin-top: 13px;
    margin-right: 5px;
    font-size: 15px;
}
.color_list6{
    margin-top: 12px;
    font-size: 15px;
    text-align: left;
}

@media (min-width: 768px) and (max-width: 1200px) {
    .Sleft_div{
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
    .Sleft_filtergrid{
        justify-items: center;
    }
    .SLeft_gridItems{
        width: 100%;
        margin-top: 20px;
    }
    .Sleft_div .SLcart{
        margin-top: 5px;
        margin-bottom: 15px;
        margin-right: 20px;
        float: left;
    }
    .Sleft_div .SLheart{
        margin-top: 8px;
        margin-right: 20px;
        margin-left: 0;
        float: left;
    }
    .Sleft_div .SLsearch{
        margin-top: 8px;
        margin-left: 0;
    }
}

@media (min-width: 350px) and (max-width: 767px) {
    .Sleft_div{
        grid-template-columns: 1fr;
        row-gap: 20px;
        margin-left: 0;
        padding-left: 0;
    }
    .Sleft_filtergrid{
        justify-items: center;
    }
    .SLeft_gridItems{
        grid-template-columns: 1fr;
    }
    .SLeft_gridItems{
        width: 100%;
        margin-top: 20px;
    }
    .SLeft_descgrid .SLtxt3 {
        margin-bottom: 15px;
    }
    .Sleft_div .SLcart{
        margin-top: 5px;
        margin-bottom: 15px;
        margin-right: 20px;
        float: left;
    }
    .Sleft_div .SLheart{
        margin-top: 8px;
        margin-right: 20px;
        margin-left: 0;
        float: left;
    }
    .Sleft_div .SLsearch{
        margin-top: 22px;
        margin-left: 0;
    }
}