.PDSec2main{
    background-color: #F9F8FE;
    padding: 20px;
}

.PDnav{
    margin-top: 20px;
    padding-top: 20px;
    text-align: left;
}

.PDnav li a{
    font-family: 'Josefin Sans';
    font-size: 24px;
    font-weight: 600;
    color: #151875;
}

.PDnav * {
    display: inline;
}

.PDnav ul {
    margin: 13%;
}
.PDnav li {
    margin: 2%;
}

.PDSec2desc{
    width: 71%;
    text-align: left;
    margin-top: 20px;
    padding-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.PDSec2txt1{
    font-family: 'Josefin Sans';
    font-size: 22px;
    font-weight: 600;
    color: #151875;
}

.PDSec2txt2{
    font-family: 'Josefin Sans';
    font-size: 16px;
    color: #A9ACC6;
    margin-top: 13px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.PDSec2txt3{
    font-family: 'Josefin Sans';
    font-size: 22px;
    font-weight: 600;
    color: #151875;
}

.PDdetails{
    font-family: 'Josefin Sans';
    font-size: 16px;
    color: #A9ACC6;
    margin-left: 12px;
    margin-top: 10px;
}

.PDarrow1{
    width: 15px;
    padding-top: 23px;
    margin-top: 24px;
    float: left;
    margin-right: 10px;
}

.PDarrow{
    width: 15px;
    margin-top: 15px;
    float: left;
    margin-right: 10px;
}

@media (min-width: 350px) and (max-width: 767px) {
    .PDnav li a{
        font-size: 10px;
    }
    .PDSec2txt1{
        font-size: 20px;
    }
    .PDSec2txt2{
        font-size: 12px;
    }
    .PDSec2txt3{
        font-size: 20px;
    }
}