.PDdiv{
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
    padding: 15px;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px 10px #F6F4FD;
    border-radius: 2px;
    margin-top: 20px;
}

.PDgriditem1{
    display: grid;
    grid-template-rows: auto;
}

.PDgridimg{
    padding: 4px;
}

.PDimg2{
    margin-top: 10px;
}
.PDimg3{
    margin-top: 10px;
}
.PDimg4{
    margin-top: 4px;
    height: 98%;
}

.PDgriditem3{
    text-align: left;
    padding-left: 20px;
}

.PDtxt1{
    font-family: 'Josefin Sans';
    font-size: 36px;
    font-weight: 600;
    color: #0D134E;
    margin-top: 20px;
    padding-top: 20px;
}

.PDstar{
    float: left;
    margin-top: 16px;
    margin-right: 4px;
}

.PDtxt2{
    font-family: 'Josefin Sans';
    font-size: 14px;
    text-transform: capitalize;
    color: #151875;
    margin-top: 15px;
}
.PDtxt3{
    font-family: 'Josefin Sans';
    font-size: 16px;
    text-transform: capitalize;
    color: #151875;
    margin-top: 10px;
}
.PDdiv span{
    font-family: 'Josefin Sans';
    font-size: 16px;
    text-decoration-line: line-through;
    text-transform: capitalize;
    color: #FB2E86;
}
.PDtxt4{
    font-family: 'Josefin Sans';
    font-size: 16px;
    color: #0D134E;
    margin-top: 10px;
    font-weight: 600;
}
.PDtxt5{
    font-family: 'Josefin Sans';
    font-size: 16px;
    color: #A9ACC6;
    margin-top: 15px;
}
.PDtxt6{
    font-family: 'Josefin Sans';
    font-size: 16px;
    text-transform: capitalize;
    color: #151875;
    margin-top: 10px;
    float: left;
    margin-right: 10px;
}
.PDtxt7{
    font-family: 'Josefin Sans';
    font-size: 16px;
    font-weight: 600;
    color: #151875;
    margin-top: 20px;
}
.PDtxt8{
    font-family: 'Josefin Sans';
    font-size: 16px;
    font-weight: 600;
    color: #151875;
    margin-top: 10px;
}
.PDtxt9{
    font-family: 'Josefin Sans';
    font-size: 16px;
    font-weight: 600;
    color: #151875;
    margin-top: 10px;
    float: left;
    margin-right: 10px;
}

.PDheart{
    margin-top: 20px;
    padding-top: 3px;
}

.PDshare{
    margin-top: 17px;
}
.PDgriditem3 button{
    height: 35px;
    padding-top: 8px;
}
.PDgriditem3 button:hover{
    border: 1px solid black;
    padding-bottom: 10px;
}

@media (min-width: 768px) and (max-width: 1200px) {
    .PDdiv{
        width: 95%;
        margin-top: 0;
    }
    .PDtxt1{
        margin-top: 0px;
        padding-top: 0px;
    }
}

@media (min-width: 350px) and (max-width: 767px) {
    .PDdiv{
        grid-template-columns: 1fr;
        width: 80%;
    }
    .PDgriditem1{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .PDimg1{
        margin-top: 10px;
    }
    .PDtxt2{
        margin-top: 13px;
    }
    .PDtxt9{
        margin-bottom: 20px;
    }
    .PDimg4{
        width: 100%;
    }
}