.PDS3head{
    font-family: 'Josefin Sans';
    font-size: 36px;
    font-weight: 600;
    color: #101750;

}

.RDheader{
    text-align: left;
    width: 70%;
}

.PDS3grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    width: 70%;
}

.PD3imgdiv{
    display: grid;
    grid-template-rows: auto;
}

.PDS3txt1{
    font-family: 'Josefin Sans';
    font-size: 16px;
    font-weight: 600;
    color: #151875;
    float: left;
    margin-right: 20px;
}

.PDS3txt2{
    font-family: 'Josefin Sans';
    font-size: 13px;
    color: #151875; 
    margin-top: 10px;
}

.PDS3star1{
    float: left;
    margin-right: 3px;
}
.PDS3star2{
    float: left;
    margin-right: 3px;
}
.PDS3star3{
    float: left;
    margin-right: 3px;
}
.PDS3star4{
    float: left;
    margin-right: 3px;
}
.PDS3star5{
    margin-top: 7px;
    margin-right: 25px;
}
.PD3desc{

}
.PD3txt2div{

}

@media (min-width: 768px) and (max-width: 1200px) {

}

@media (min-width: 350px) and (max-width: 767px) {
    .PDS3grid{
        grid-template-columns: 1fr 1fr;
    }
    .PDS3txt1{
       
    }
}
