.SGbanner{  
    width: 55%;
    text-align: center;
}

@media (min-width: 992px) and (max-width: 1199px){
    .SGbanner{  
        width: 55%;
    }
}

@media (min-width: 1200px) and (max-width: 1500px){
    .SGbanner{  
    }
} 
@media (min-width: 992px) and (max-width: 1199px){
    .SGbanner{  
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .SGbanner{  
    }
}

@media (min-width: 585px) and (max-width: 767px){
    .SGbanner{  
    }
}

@media (min-width: 400px) and (max-width: 584px){
    .SGbanner{  
    }
}

@media (min-width: 300px) and (max-width: 449px){
    .SGbanner{  
    }
}

@media (max-width: 299px){
    .SGbanner{  
    }
}
