/* .slider1{
    background-image: url('../Images/promotional.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
} */

.aws_slider{
    height: 642px;
}

.awssld__bullets {
    display: none;
}