/* .slider1{
    background-image: url('../Images/promotional.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
} */

.aws_slider{
    height: 642px;
}

.awssld__bullets {
    opacity: 0;
}
.awssld__controls button {
    opacity:0;
}

@media (min-width: 1360px) and (max-width: 1500px){
    .aws_slider {
        height: 580px;
    }
}

@media (min-width: 1200px) and (max-width:  1359px){
    .aws_slider {
        height: 512px;
    }
}  

@media (min-width: 1150px) and (max-width: 1200px){
    .aws_slider {
        height: 487px;
    }
}
@media (min-width: 1000px) and (max-width: 1150px){
    .aws_slider {
        height: 423px;
    }
}

@media (min-width: 900px) and (max-width: 1000px){
    .aws_slider {
        height: 385px;
    }
}
@media (min-width: 800px) and (max-width: 900px){
    .aws_slider {
        height: 342px;
    }
}
@media (min-width: 700px) and (max-width: 800px){
    .aws_slider {
        height: 299px;
    }
}

@media (min-width: 600px) and (max-width: 700px){
    .aws_slider {
        height: 256px;
    }
}
@media (min-width: 500px) and (max-width: 600px){
    .aws_slider {
        height: 211px;
    }
}

@media (min-width: 420px) and (max-width: 500px){
    .aws_slider {
        height: 171px;
    }
}

@media (min-width: 400px) and (max-width: 420px){
    .aws_slider {
        height: 171px;
    }
}
@media (min-width: 380px) and (max-width: 400px){
    .aws_slider {
        height: 162px;
    }
}
@media (min-width: 300px) and (max-width: 380px){
    .aws_slider {
        height: 128px;
    }
}
@media (min-width: 200px) and (max-width: 300px){
    .aws_slider {
        height: 102px;
    }
}