.main {
  background-color: #7e33e0;
  color: white;
  height: fit-content;
  max-width: 100%;
  text-align: -webkit-center;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  justify-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.main > div {
  font-family: "Josefin Sans";
  font-size: 16px;
  font-size: 14px;
}

.sec1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: end;
}

.sec2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: left;
}

.icon1 {
  margin-top: 4px;
}

.icon2 {
  margin-top: 2px;
}

.sec1div{
  justify-self: right;
  margin-right: 7px;
}


.menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.menu .login {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: left;
}
.topbar_logindiv{
  justify-self: center;
  
}
.menu .wishlist {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: left;
}
.icon4{
  margin-left: 5px;
  margin-top: 2px;
}
.icon5{
    height: 18px;
    margin-left: 10px;
}

.topbar_cart{
  justify-self: left;
}

@media (min-width: 768px) and (max-width: 1200px) {

  
  .sec1 {
    justify-self: end;
  }
  
  .sec2 {
    justify-self: left;
  }
  
  .icon1 {
    margin-top: 4px;
  }
  
  .icon2 {
    margin-top: 2px;
  }
  
  .sec1div{
    justify-self: right;
    margin-right: 7px;
  }

  
  .menu .login {

      justify-items: left;
  }
  .menu .wishlist {
    justify-items: left;
  }
  
  .icon3{
    height: 13px;
    margin-top: 3px;
    margin-left: 3px;
  }

  
  .icon4{
    margin-left: 4px;
    margin-top: 3px;
  }
  
  .icon5{
      height: 18px;
      margin-left: 10px;
  }
  
  .topbar_cart{
    justify-self: left;
  }

  .menu{
    width: 85%;
  }
}

@media (min-width: 350px) and (max-width: 767px) {
  .main{
    grid-template-columns: 1fr 1fr;
    row-gap: 12px;
  }
  .menu{
    grid-column: 1 / span 2;
    margin-left: 25px;
  }
  .icon3{
    height: 14px;
    margin-top: 3px;
    margin-left: 4px;
  }
  .icon4 {
    margin-left: 5px;
    margin-top: 3px;
  }
  .topbar_logindiv{
    justify-self: end;
  }
  .sec1{
  }
  .sec2{
    justify-self: left;
  }
}

